<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<% content_for :title, "Posts" %>

<div class="mb-4">
  <h1 class="display-4">Posts</h1>
</div>

<div id="posts" class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= truncate(post.body, length: 100) %></p>
          <a href="<%= post_path(post) %>" class="btn btn-primary">Show this post</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-4">
  <%= link_to "New Post", new_post_path, class: "btn btn-success" %>
</div>
